{% extends 'layouts/main.twig' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h1>Edit comment #{{ comment.id }}</h1>
        <form action="/admin/comment/{{ comment.id }}/update" method="post">
            <div class="form-group">
                <label for="form-email">Email address</label>
                <input type="email" class="form-control" id="form-email" name="email" placeholder="Email" value="{{ comment.email }}">
            </div>
            <div class="form-group">
                <label for="form-username">Username</label>
                <input type="text" name="username" class="form-control" id="form-username" placeholder="Username" value="{{ comment.username }}">
            </div>
            <div class="form-group">
                <label for="form-text">Message</label>
                <textarea id="form-text" name="text" class="form-control" placeholder="Type here...">{{ comment.text }}</textarea> 
            </div>
            
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="{{ comment.active }}" name="active" {% if comment.active == true %}checked{% endif %}> Active
                </label>
              </div>
            </div>
    
            <div class="clearfix">
                <a href="/admin" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary pull-right">Update</button>
            </div>
        </form>
    </div>
{% endblock %}