{% extends 'layouts/main.twig' %}

{% block content %}

<div id="admin-page" class="col-md-12">
    <table class="table comments"> 
    <caption>All comments</caption> 
    <thead> 
        <tr> 
            <th>#</th>
            <th>Status</th> 
            <th>Email</th>
            <th>Username</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>
                    {% if comment.active == true %}
                        <span class="text-success">Visible</span>
                    {% else %}
                        <span class="text-danger">Hidden</span>
                    {% endif %}
                </td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.username }}</td>
                <td><img src="{{ comment.image }}" class="img-thumbnail" style="width: 48px; height: 48px;"></td>
                <td>
                    <a href="/admin/comment/{{ comment.id }}/edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td>
                    <a href="/admin/comment/{{ comment.id }}/delete">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</div>

{% endblock %}