#form-message {
    margin: 40px 0px;
}

#admin-page .comments td {
    vertical-align: middle;
}

#admin-page .comments td.actions {
    text-align: center;    
}

.text-danger.moderated {
    padding-top: 10px;
}

#message-list img {
    margin: 20px 0px;
}

hr {
    border-color: #aaa;
}