{% extends 'layouts/main.twig' %}

{% block content %}
<div class="colmd-12">
    <h1 class="text-center">--- Базовая функциональность ---</h1>
    <p>
        1) Сделать форму обратной связи. 
        На странице должны быть показаны все оставленные отзывы, под ними форма: Имя, E-mail, текст сообщения, кнопки "Предварительный просмотр" и "Отправить".
        Отзывы можно сортировать по имени автора, e-mail и дате добавления (по умолчанию - по дате, последние наверху).Также должна быть валидация.    
    </p>
    <p>
        2) Предварительный просмотр должен работать без перезагрузки страницы.
    </p>
    <p>
        3) Сделать вход для администратора (логин "admin", пароль "123"). Администратор должен иметь возможность редактировать отзыв. Измененные отзывы в общем списке выводятся с пометкой "изменен администратором".
    </p>
    <p>
        4) К отзыву можно прикрепить картинку.
        Картинка должна быть не более 320х240 пикселей, при попытке залить изображение большего размера, картинка должна быть пропорционально уменьшена до заданных размеров. Допустимые форматы: JPG, GIF, PNG.
    </p>
    <p>
        5) У администратора должна быть возможность модерирования.
        Т.е. на странице администратора показаны отзывы с миниатюрами картинок и их статусы (принят/отклонен).
        Отзыв становится видимым для всех только после принятия админом. Отклоненные отзывы остаются в базе, но не показываются обычным пользователям. Изменение картинки администратором не требуется.
    </p>
    
    <p>
        В приложении нужно с помощью чистого PHP реализовать модель MVC (PHP-фреймворки использовать нельзя).
        Верстка на bootstrap. Помните, что акуратность - это один из главных критериев оценки тестового.
    </p>
    
    <p>
        Приложение нужно развернуть на любом бесплатном хостинге, чтобы можно было посмотреть его в действии. 
        Скопируйте в корневую папку проекта наш онлайн-редактор dayside (https://github.com/boomyjee/dayside)
        Таким образом редактор будет доступен по url <ваш проект>/dayside/index.php
        Убедитесь, что настройки .htaccess подволяют редактору открыться. При первом запуске редактор попросит установить пароль,  поставьте как в админке: 123.
    </p>

</div>
{% endblock %}