{% extends 'layouts/main.twig' %}

{% block content %}

    <div id="message-list" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="sort" class="row">
                <div class="col-sm-4">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default">Sort by Username</button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="/sort/username/asc">ASC</a></li>
                        <li><a href="/sort/username/desc">DESC</a></li>
                      </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default">Sort by Email</button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="/sort/email/asc">ASC</a></li>
                        <li><a href="/sort/email/desc">DESC</a></li>
                      </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default">Sort by Date</button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="/sort/datetime/asc">ASC</a></li>
                        <li><a href="/sort/datetime/desc">DESC</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <hr/>
            {{ comments.email }}
            {% for comment in comments %}
                <div class="panel panel-default item-message">
                  <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="glyphicon glyphicon-user"></i>
                        {{ comment.email }} - {{ comment.username }}
                    </div>
                    <div class="pull-right">{{ comment.datetime|date("m/d/Y H:i:s") }}</div>
                  </div>
                  <div class="panel-body">
                    {{ comment.text }}
                    
                    <div>
                        <img src="{{ comment.image }}" class="img-thumbnail">
                    </div>
                    
                    {% if comment.moderated == true %}
                        <p class="text-danger moderated">
                            This comment is moderated by admin.
                        </p>
                    {% endif %}
                  </div>
                </div>
            {% endfor %}

            <template v-for="item in items">
                <div class="panel panel-default item-message">
                  <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="glyphicon glyphicon-user"></i>
                        ${ item.email } - ${ item.username }
                    </div>
                    <div class="pull-right">12.12.2016</div>
                  </div>
                  <div class="panel-body">
                    ${ item.text }
                    
                    <div v-html="item.image"></div>
                  </div>
                </div>
            </template>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="form-errors">
                <template v-for="item in items">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" v-on:click="close($index)">×</button>
                        <strong>${ item.field }</strong> ${ item.message }
                    </div>
                </template>
            </div>

            <div id="form-success">
                <template v-for="item in items">
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" v-on:click="close($index)">×</button>
                        <p>${ item.message }</p>
                    </div>
                </template>
            </div>

            <form id="form-message" action="/comments/create" method="post" enctype="multipart/form-data"> 

                <div class="form-group">
                    <label for="form-email">Email address</label>
                    <input v-model="email" type="email" class="form-control" id="form-email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="form-username">Username</label>
                    <input v-model="username" type="text" name="username" class="form-control" id="form-username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="form-text">Message</label>
                    <textarea id="form-text" name="text" class="form-control" placeholder="Type here..." v-model="text"></textarea> 
                </div>

                <div class="form-group">
                    <label for="form-file">File input</label>
                    <input type="file" id="form-file" v-model="image" name="image">
                    <p class="help-block">Upload only image, max. size 320x204 px.</p>
                </div>

                <div class="clearfix">
                    <span id="form-preview" class="btn btn-warning pull-left" v-on:click="previewMessage">Preview</span>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}